<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="widget-box">
      <div class="widget-header">
        <h4>Add Story</h4>

        <div class="widget-toolbar">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>

          <a href="#" data-action="close">
            <i class="icon-remove"></i>
          </a>
        </div>
      </div>

      <div class="widget-body">
        <div class="widget-body-inner" style="display: block;">
          <div class="widget-main">
            <%= form_for(@story, url: project_stories_path(@project)) do |f| %>
              <div>
                <%= f.label :name %>
                <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
                <div class="clearfix form-actions">
                  <%= f.submit 'Add Story', :class => 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div> <!-- main -->
        </div><!-- body-inner -->
      </div> <!-- body -->
    </div><!-- widget-box -->
  </div>
  <div class="col-sm-12">
    <h4>Stories</h4>
    <% if @project.stories.count > 0 %>
      <div class="dd" id="nestable">
        <ol class="dd-list">
          <% @project.stories.each { |story| %>
            <li class="dd-item" data-id="11">
            <div class="dd-handle">
              <%= story.name %>
              <span class="sticker">
                <span class="label label-success arrowed-in">
                  <i class="icon-ok bigger-110"></i>
                </span>
              </span>
            </div>
            </li>
          <% } %>
        </ol>
      </div>
    <% end %>
  </div>

</div><!-- story box -->

